{% extends 'user/main.html' %}
{% block content %}

<div class="pt-4"></div>
<div class="pt-5">
	<a href="{% url 'create-todo' %}"><button type="button" class="btn btn-warning btn-lg"><i class="bi bi-plus-circle"></i> Create new Task</button></a>
	
	
	<div class="container pt-3">
		<div class="row text-center">
			<h1>Completed</h1>
			{% for t in todo %}
			{% if t.isCompleted == True and request.user == t.host %}
			<div class="col-lg-6 col-sm-12 mb-5">
				<div class="bg-white rounded social shadow py-5 px-4">
					<h5 class="mb-2">{{t.title}}</h5>
					<div class="input-group mx-auto mb-2">
						<a href="" class="mx-auto">
							<button type="button" class="btn btn-success">Status: Completed</button>
						</a>
					</div>
					<a href="{% url 'todo' t.id %}" class="mx-auto">
						<button type="button" class="btn btn-warning">Open</button>
					</a>
				</div><!-- End -->
			</div>
			{% endif %}
			{% endfor %}
			<hr>

			<h1>In-progress</h1>
			{% for t in todo %}
			{% if t.isCompleted == False and request.user == t.host %}
			<div class="col-lg-6 col-sm-12 mb-5">
				<div class="bg-white rounded social shadow py-5 px-4">
					<h5 class="mb-2">{{t.title}}</h5>
					<div class="input-group mx-auto mb-2">
						<a href="" class="mx-auto">
							<button type="button" class="btn btn-info">Status: In-Progress</button>
						</a>
					</div>
					<a href="{% url 'todo' t.id %}" class="mx-auto">
						<button type="button" class="btn btn-warning">Open</button>
					</a>
				</div><!-- End -->
			</div>
			{% endif %}
			{% endfor %}
			<hr>
		</div>
	</div>

	</div>
</div>

{% endblock %}